.advantage {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &-container {
    @extend %container;
  }

  .text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.71;

    letter-spacing: 0.03em;
  }

  &-list {
    @extend %list;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-color;
  }

  &--icon {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: $btn-filter-color;
  }

  .item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  .item {
    max-width: 450px;

    @media screen and (min-width: 768px) {
      max-width: calc((100% - 60px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      max-width: calc((100% - 120px) / 4);
    }
  }
}
