.clients {
  margin-top: 60px;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-top: 94px;
    margin-bottom: 94px;
  }

  &-container {
    @extend %container;
  }

  &-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &-item {
    margin: 15px;
    width: calc((100% - 60px) / 2);

    @media screen and (min-width: 768px) {
      width: calc((100% - 90px) / 3);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 180px) / 6);
    }
  }

  &-svg {
    fill: #afb1b8;
    transition: fill $time-transition $function-time;
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color $time-transition $function-time;

  @media screen and (min-width: 768px) {
    max-width: 226px;
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  &:hover .clients-svg,
  &:focus .clients-svg {
    fill: $accent-color;
  }
}
