.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 400px;

  width: 100%;
  background-color: $title-color;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../image/hero-mobil.jpg');
  background-size: cover;
  background-position: 50% 50%;

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../image/hero-mobil2x.jpg');
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../image/hero-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../image/hero-tablet2x.jpg');
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../image/hero-desc.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../image/hero-desc2x.jpg');
    }
  }

  &-container {
    @extend %container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // @media screen and (max-width: 767px) {
    //   max-width: 480px;
    // }

    // @media screen and (min-width: 768px) and (max-width: 1199px) {
    //   max-width: 768px;
    // }

    // @media screen and (min-width: 1200px) {
    //   max-width: 1600px;
    //   height: 600px;
    // }
  }
}

.main-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;
  max-width: 360px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
