.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bgc-footer;

  &-container {
    @extend %container;

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
    }
  }

  & .address {
    text-align: center;
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 70px;
      margin-left: 0;
    }
  }

  &-wrapper {
    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
    }
  }
}

.footer-address {
  @extend %list;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  & .contact-address {
    color: $white-color;
  }

  & .item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }

  & .item:first-child &__link {
    color: $white-color;
  }
}

.footer-address__link {
  @extend %link;
  color: $footer-color;
}
