.logo {
  @extend %link;
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: $title-color;

  &-accent {
    color: $accent-color;
  }

  .footer & {
    margin-right: 0;
    margin-bottom: 30px;
    color: $white-color;
  }
}
