.page-header {
  position: relative;

  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
    height: 80px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.top-address {
  @extend %list;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  .item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &--link {
    @extend %link;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: $main-color;

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.16;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }

  &--link:hover,
  &--link:focus {
    color: $accent-color;
  }

  &--link:hover .mail-svg,
  &--link:focus .mail-svg {
    fill: $accent-color;
  }

  &--link:hover .phone-svg,
  &--link:focus .phone-svg {
    fill: $accent-color;
  }
}

.mail-svg {
  margin-right: 10px;
  fill: $main-color;
  transition: fill $time-transition $function-time;

  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
}

.phone-svg {
  margin-right: 10px;
  fill: $main-color;
  transition: fill $time-transition $function-time;

  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
}

.address-header {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
