.menu-button {
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (max-width: 767px) {
    &.is-open .icon-close,
    &.is-open ~ .navigation-links {
      transform: scale(1);
      opacity: 1;
      z-index: 1;
      pointer-events: auto;
    }
  }

  &.is-open .icon-menu {
    opacity: 0;
  }

  &:hover .mobile-menu-icon,
  &:focus .mobile-menu-icon {
    fill: $accent-color;
  }
}

.icon-close {
  opacity: 0;
}

.navigation-links {
  width: 100%;

  @media screen and (max-width: 767px) {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    transform: scale(0.7);
    padding: 60px 0;
    background-color: $white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all $time-transition $function-time;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.top-menu {
  @extend %list;

  @media screen and (max-width: 767px) {
    text-align: center;
    margin-bottom: 60px;

    .item:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    height: 80px;
    align-items: center;

    .item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.top-menu--link {
  @extend %link;
  position: relative;
  display: inline-flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $title-color;
  transition: color $time-transition $function-time;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    align-items: center;
    height: 80px;
  }

  &.current {
    position: relative;
  }

  &.current::before {
    content: '';
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;

    @media screen and (min-width: 768px) {
      top: calc(100% - 4px);
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

// &.current::before {
//   content: '';
//   position: absolute;
//   top: calc(100% + 8px);
//   left: 0;
//   width: 100%;
//   height: 4px;
//   border-radius: 2px;
//   background-color: $accent-color;

//   @media screen and (min-width: 768px) {
//     top: 100%;
//   }
// }

.current {
  color: $accent-color;
}

.stop-scroll {
  @media screen and (max-width: 767px) {
    overflow: hidden;
  }
}
