$main-color: #757575;
$accent-color: #2196f3;
$title-color: #212121;
$white-color: #ffffff;
$bgc-footer: #2f303a;
$footer-color: rgba(255, 255, 255, 0.6);
$btn-filter-color: #f5f4fa;
$cards-border-color: #eeeeee;
$time-transition: 250ms;
$function-time: cubic-bezier(0.4, 0, 0.2, 1);
